{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/zsh
# vim: set ft=zsh :

if [[ -f "$HOME/.config/brewfile/src.Brewfile" ]]; then
  BREWFILE="$HOME/.config/brewfile/src.Brewfile"
else
  BREWFILE="$HOME/.local/share/chezmoi/dot_config/brewfile/Brewfile"
fi
brew-file --leaves --on_request -f $BREWFILE install
{{ end -}}
