{{- if (ne .chezmoi.os "windows") -}}
#!/usr/bin/env zsh
# vim: set ft=zsh :

if [[ "$(uname)" == "Linux" ]]; then
  python="$(/bin/ls -1 /usr/bin/python3* | awk '/python3.[0-9]+$/{print}' | sort | tail -1)"
else
  python="python3"
fi

if ! type -a virtualenv &>/dev/null; then
  $python -mpip install --user virtualenv
fi

NVIM_VENV="$HOME/.local/share/envs/nvim"
if [[ ! -d "$NVIM_VENV/bin" ]]; then
  mkdir -p "$NVIM_VENV"
  virtualenv -p $python "$NVIM_VENV"
  if [[ -f "$NVIM_VENV/bin/activate.sh" ]]; then
    source $NVIM_VENV/bin/activate.sh
  else
    source $NVIM_VENV/bin/activate
  fi

  pip install neovim-remote
  ln -sf "$NVIM_VENV/bin/nvr" $XDG_BIN_HOME/
fi

NODE_PATH="/opt/nodejs"
if [[ -d "$NODE_PATH" ]]; then
  latest_node="$(/bin/ls --sort=v -r1 "$NODE_PATH" | head -1)"
  ln -sf "$NODE_PATH/$latest_node/bin/node" "$NVIM_VENV/bin/"
  ln -sf "$NODE_PATH/$latest_node/bin/npm" "$NVIM_VENV/bin/"
elif (( $+commands[node] )); then
  ln -sf $(command -v node) "$NVIM_VENV/bin/"
  ln -sf $(command -v npm) "$NVIM_VENV/bin/"
fi
{{ end -}}
