{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/zsh
# vim: set ft=zsh :

if [[ -f "$HOME/.config/brewfile/Brewfile" ]]; then
  HOMEBREW_BUNDLE_FILE="$HOME/.config/brewfile/Brewfile"
else
  HOMEBREW_BUNDLE_FILE="$HOME/.local/share/chezmoi/dot_config/brewfile/src.Brewfile"
fi
brew bundle --file $HOMEBREW_BUNDLE_FILE
{{ end -}}
