{{- if (ne .chezmoi.os "windows") -}}
#!/bin/zsh
# vim: set ft=zsh :
install_asdf_plugin() {
  local plugin_name
  plugin_name="$1"
  if [[ ! -d "$ASDF_DATA_DIR/plugins/${plugin_name}" ]]; then
    echo "Installing $plugin..."
    asdf plugin-add $plugin_name
    asdf install $plugin_name latest
  fi
}

# install asdf and plugins
export ASDF_DATA_DIR="$HOME/.local/share/asdf"
path=(${ASDF_DATA_DIR}/bin $path)
export PATH
source "$ASDF_DATA_DIR/lib/asdf.sh"
ASDF_PLUGINS=(terraform direnv python)
for plugin in $ASDF_PLUGINS; do
  install_asdf_plugin "$plugin"
done
asdf global python latest

NVIM_VENV="$HOME/.local/share/envs/nvim"
if [[ ! -d "$NVIM_VENV" ]]; then
  mkdir -p "$NVIM_VENV"
  asdf exec python -mvenv "$NVIM_VENV"
  source $NVIM_VENV/bin/activate.sh
  pip install neovim-remote
  ln -sf "$NVIM_VENV/bin/nvr" $XDG_BIN_HOME/
fi

NODE_PATH="/opt/nodejs"
if [[ -d "$NODE_PATH" ]]; then
  latest_node="$(/bin/ls --sort=v -r1 "$NODE_PATH" | head -1)"
  ln -sf "$NODE_PATH/$latest_node/bin/node" "$NVIM_VENV/bin/"
  ln -sf "$NODE_PATH/$latest_node/bin/npm" "$NVIM_VENV/bin/"
elif (( $+commands[node] )); then
  ln -sf $(command -v node) "$NVIM_VENV/bin/"
  ln -sf $(command -v npm) "$NVIM_VENV/bin/"
fi
{{ end -}}
