{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
brew "awscli"
brew "bash"
brew "bat"
brew "bottom"
brew "chezmoi"
brew "zstd"
brew "direnv"
brew "dust"
brew "exa"
brew "fd"
brew "fzf"
brew "gawk"
brew "git-delta"
brew "grc"
brew "grex"
brew "hyperfine"
brew "less"
brew "neofetch"
brew "neovim"
brew "poetry"
brew "ripgrep"
brew "sd"
brew "sheldon"
brew "shellcheck"
brew "shfmt"
brew "sk"
brew "starship"
brew "tealdeer"
brew "tmux"
brew "tree"
brew "zoxide"
brew "zsh"
cask "iterm2"
cask "flameshot"
cask "font-sauce-code-pro-nerd-font"
cask "vagrant"
EOF

{{ if (eq .chezmoi.arch "arm64") -}}
if ! grep -qc "/usr/local/bin/zsh" /etc/shells; then
  echo "/usr/local/bin/zsh" | sudo tee -a /etc/shells > /dev/null
fi
if [[ ! -e /usr/local/bin/zsh ]]; then
  sudo ln -sf /opt/homebrew/bin/zsh /usr/local/bin/zsh
fi
{{ end -}}
{{ end -}}
