{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/zsh

brew bundle --no-lock --file=$HOME/.local/share/hrndz/Brewfile
# enable yarn
corepack enable
pushd ~/.local/share/yarn/global/
yarn global add
popd

{{ end -}}
# vim: set ft=zsh :
