{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
brew "awscli"
brew "bash"
brew "bat"
brew "bottom"
brew "chezmoi"
brew "zstd"
brew "direnv"
brew "dust"
brew "exa"
brew "fd"
brew "fzf"
brew "gawk"
brew "git-delta"
brew "grc"
brew "grex"
brew "hyperfine"
brew "less"
brew "neofetch"
brew "neovim"
brew "poetry"
brew "ripgrep"
brew "sd"
brew "sheldon"
brew "shellcheck"
brew "shfmt"
brew "sk"
brew "starship"
brew "tealdeer"
brew "tmux"
brew "tree"
brew "zoxide"
brew "zsh"
cask "alacritty"
cask "flameshot"
cask "font-sauce-code-pro-nerd-font"
cask "vagrant"
{{ end -}}
