{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/zsh
# vim: set ft=zsh :
# upgrades
brew_update_flag_path="$HOME/.local/share/hrndz/.update"
brew_update_flag=("$brew_update_flag_path"(Nmd+6))
if [[ ! -e "$brew_update_flag_path" ]] || [[ "$#brew_update_flag" -ge 1 ]]; then
  brew upgrade --cask wezterm-nightly --no-quarantine --greedy-latest
  brew upgrade neovim --fetch HEAD
  touch "$brew_update_flag_path"
fi
{{ end -}}
