{{- if (ne .chezmoi.os "windows") -}}
#!/bin/zsh
# vim: set ft=zsh :
setopt extendedglob

MY_KEY="21D77144BCC519FD64EAA2C0919DA52AC863D46D"

gpg --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys "$MY_KEY"
echo "$MY_KEY:6:" | gpg --import-ownertrust
gpg --card-status
gpg --list-secret-keys
{{ end -}}
