{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/zsh
# vim: set ft=zsh :

if [[ -f $HOME/.local/share/hrndz/Brewfile ]]; then
  BREWFILE="$HOME/.local/share/hrndz/Brewfile"
else
  BREWFILE="$HOME/.local/share/chezmoi/dot_local/share/hrndz/Brewfile"
fi
brew bundle --no-lock --file="$BREWFILE"
{{ end -}}
