{{- if (ne .chezmoi.os "windows") -}}
#!/bin/zsh
# vim: set ft=zsh :

# enable yarn
if (( $+commands[corepack] )); then
  corepack enable

  pushd ~/.local/share/yarn/global/
  yarn global add
  popd
fi

# install asdf and plugins
export ASDF_DATA_DIR="$HOME/.asdf"
if [[ ! -d "$ASDF_DATA_DIR" ]]; then
  git clone https://github.com/asdf-vm/asdf.git "$ASDF_DATA_DIR" --branch v0.9.0
fi
if [[ -d "$ASDF_DATA_DIR" ]]; then
  source "$ASDF_DATA_DIR/asdf.sh"
fi
ASDF_PLUGINS=(terraform direnv python poetry)
for plugin in $ASDF_PLUGINS; do
  asdf plugin-add $plugin
  asdf install $plugin latest
done

{{ end -}}
