{{- if (ne .chezmoi.os "windows") -}}
#!/bin/zsh
# vim: set ft=zsh :

# enable yarn
if (( $+commands[corepack] )); then
  corepack enable

  pushd ~/.local/share/yarn/global/
  yarn global add
  popd
fi

# install asdf plugins
ASDF_PLUGINS=(terraform python direnv poetry)
for plugin in $ASDF_PLUGINS; do
  asdf plugin-add $plugin
  asdf install $plugin latest
done

{{ joinPath .chezmoi.sourceDir "dot_local/bin/executable_config-netshare" | include }}
{{ end -}}
